<div class="row">
    <h2><i class="bi bi-mortarboard color"></i> Educación</h2>
    <div class="col lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged"> <!--Condición: si estamos logueados, que muestre el botón, sino no-->
          Agregar educación 
        </button>
    </div>
    
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <table>
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h5>Institución educativa:{{Educacion.nombreE}}</h5></td>
                    
                    <td><h5>Estudio realizado: {{Educacion.descripcionE}}</h5></td><!--Si aun no hemos agregado ninguna educación, la tabla desaparece-->
                    
                    <td *ngIf="isLogged"> 
                        <button class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}">
                            
                        <i class="bi bi-pen-fill"></i>EDITAR</button>
                        
                    </td>
                    
                    <td *ngIf="isLogged"> 
                        <button class="btn btn-primary" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash"></i>BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>
