<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2>- 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. 
                Qui culpa eligendi eveniet eum animi 
                illum, facilis accusantium placeat atque
                 neque, ex quo repudiandae quis maxime 
                 alias eius itaque ullam nulla.
            </p>
            <li>
                <h2>Trabajo 1</h2>- 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. 
                Qui culpa eligendi eveniet eum animi 
                illum, facilis accusantium placeat atque
                neque, ex quo repudiandae quis maxime 
                alias eius itaque ullam nulla.</p> 
                <li>
                    <h2>Trabajo 1</h2>- 
                    <h3>(years)</h3>
            </li>
            <p> Lorem ipsum dolor sit,
                amet consectetur adipisicing elit. 
                Qui culpa eligendi eveniet eum animi 
                illum, facilis accusantium placeat atque
                neque, ex quo repudiandae quis maxime 
                alias eius itaque ullam nulla.
            </p>     
        </ul>
    </div>
</div>