.row{
    padding: 20px;
}
div{
  background-color: rgba(171, 130, 90, 0.745);
    text-align: center;  
}
/*Color de Full Stack*/
.color{
    color:darkblue;
    font-size: 25px;
}
/*Estilo de foto de perfil*/
@media(min-width:576px) {
#fotoperfil{
position: absolute;
width: 15%;
border-radius: 100%;
box-shadow: 3px 3px 3px grey;
left: 3%;
top: 600px;
}
}
@media(max-width:575px) {
#fotoperfil{
    position: absolute;
    width: 30%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 33%;
    top: 700px; 
    }

    }
/*Etiqueta nombre*/
#nombre{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30%;
    
}
#correr{
    left: 50%;
    font-size: large  ;
}
