.container{
display:flex;
justify-content: space-between;
align-items:center;
height: 100px;
}
.redes{
    margin-right: 20px;
}
#logoAr{
    width: 150px;
} 
img{
    width: 40px;
    margin: 5px;
} 
button{
    margin-left: 15px;
}
.port{
    color: darkorange;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nomb{
    color: whitesmoke;
}
/*Vista celular*/
@media (max-width:575px)/*528px*/
{.container{
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items:center ;    
}
.redes img{
    margin: 0.2em;
}
}